<input type="file" class="file-input"
       [accept]="requiredFileType"
       (change)="onFileSelected($event)" #fileInput>

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileInput.click()">
        <mat-icon>attach_file</mat-icon>

    </button>
    <div *ngIf="isShowBusy" class="spinner-border text-primary"></div>
    <!-- <a *ngIf="link" (click)="openLink()" class="link">Your link for downloading</a> -->

</div>